services:
  meta-prompt-api:
    build: ./Backend
    ports:
      - "8100:8000"


  frontend:
    build:
      context: ./Frontend
    container_name: meta-prompt-frontend
    ports:
      - "3100:80"
