services:
  api:
    build:
      context: ./Backend
    container_name: meta-prompt-api
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ./Frontend
    container_name: meta-prompt-frontend
    ports:
      - "3000:80"
