body {
  background-color: #0d0d0d;
  color: #00ff7f;
  font-family: monospace;
}

.panel {
  background: #111;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 8px;
  border: 1px solid #00ff7f33;
}

.input-dark {
  background: #000;
  color: #00ff7f;
  border: 1px solid #00ff7f44;
  padding: 10px;
  width: 100%;
}

.textarea-console {
  background: #000;
  color: #00ff7f;
  border: 1px solid #00ff7f44;
  padding: 15px;
  width: 100%;
  height: 250px;
  margin-top: 15px;
}

.console-box {
  background: #000;
  color: #00ff7f;
  padding: 15px;
  margin-top: 20px;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #00ff7f33;
}

.btn-primary {
  background: #00ff7f;
  color: black;
  border: none;
  padding: 10px 18px;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 4px;
}

.btn-secondary {
  background: #006644;
  color: #00ff7f;
  border: 1px solid #00ff7f44;
  padding: 10px 18px;
  margin-left: 15px;
  cursor: pointer;
  border-radius: 4px;
}

.link-btn {
  background: none;
  border: none;
  color: #00ff7f;
  cursor: pointer;
  text-decoration: underline;
}

.button-row {
  margin-top: 20px;
}
